<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cictec.middleware.minieye.dao.TDeviceMapper">
  <resultMap id="BaseResultMap" type="com.cictec.middleware.minieye.entity.po.TDevice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dev_uuid" jdbcType="VARCHAR" property="devUuid" />
    <result column="dev_code" jdbcType="VARCHAR" property="devCode" />
    <result column="dev_model_num" jdbcType="VARCHAR" property="devModelNum" />
    <result column="dev_version" jdbcType="VARCHAR" property="devVersion" />
    <result column="dev_plate_number" jdbcType="VARCHAR" property="devPlateNumber" />
    <result column="dev_sim_num" jdbcType="VARCHAR" property="devSimNum" />
    <result column="dev_online_status" jdbcType="VARCHAR" property="devOnlineStatus" />
    <result column="dev_status" jdbcType="VARCHAR" property="devStatus" />
    <result column="dev_isvalid" jdbcType="VARCHAR" property="devIsvalid" />
    <result column="dev_phone" jdbcType="VARCHAR" property="devPhone" />
    <result column="dev_ref_id" jdbcType="VARCHAR" property="devRefId" />
    <result column="dev_status_change_time" jdbcType="TIMESTAMP" property="devStatusChangeTime" />
    <result column="dev_create_user" jdbcType="VARCHAR" property="devCreateUser" />
    <result column="dev_create_time" jdbcType="TIMESTAMP" property="devCreateTime" />
    <result column="dev_update_user" jdbcType="VARCHAR" property="devUpdateUser" />
    <result column="dev_update_time" jdbcType="TIMESTAMP" property="devUpdateTime" />
    <result column="dev_drop_flag" jdbcType="VARCHAR" property="devDropFlag" />
    <result column="dev_remark" jdbcType="VARCHAR" property="devRemark" />
    <result column="dev_code_seq" jdbcType="SMALLINT" property="devCodeSeq" />
    <result column="dev_flag" jdbcType="SMALLINT" property="devFlag" />
    <result column="dev_key" jdbcType="VARCHAR" property="devKey" />
    <result column="master_version" jdbcType="VARCHAR" property="masterVersion" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="protocol" jdbcType="VARCHAR" property="protocol" />
    <result column="operational_type" jdbcType="VARCHAR" property="operationalType" />
  </resultMap>

  <select id="findByDevCode" resultMap="BaseResultMap" parameterType="String">
        SELECT
			t2.*
		FROM
			t_device t2
		WHERE
			1 = 1
		and t2.dev_drop_flag='0'
        and t2.dev_code=#{_parameter}
    </select>


  <select id="findAllDevice" resultMap="BaseResultMap" >
        	SELECT
			t2.*
		FROM
			t_bus t1
		left join t_device t2 on t1.bus_dev_uuid=t2.dev_uuid
		WHERE
			1 = 1
		and t2.dev_drop_flag='0'
		and t1.bus_drop_flag='0'
    </select>


  <select id="findAllOnlineByLineUuid" parameterType="Map" resultMap="BaseResultMap">
    SELECT
    t2.*
    FROM
    t_bus t1
    left join t_device t2 on t1.bus_dev_uuid=t2.dev_uuid
    WHERE
    1 = 1
    and t2.dev_drop_flag='0'
    and t1.bus_drop_flag='0'
    <if test="lineUuid != null and lineUuid != ''">
      AND t1.bus_line_uuid = #{lineUuid}
    </if>
    <if test="devOnlineStatus != null and devOnlineStatus != ''">
      and t2.dev_online_status=#{devOnlineStatus}
    </if>
  </select>

  <update id="allDeviceOffline" >
        UPDATE
        t_device
        SET
        dev_online_status = 0
    </update>

</mapper>