<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cictec.middleware.tsinghua.dao.TWarnMapper">
  <resultMap id="BaseResultMap" type="com.cictec.middleware.tsinghua.entity.po.TWarn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="warn_uuid" jdbcType="VARCHAR" property="warnUuid" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="warn_type" jdbcType="INTEGER" property="warnType" />
    <result column="warn_time" jdbcType="TIMESTAMP" property="warnTime" />
    <result column="warn_id" jdbcType="VARCHAR" property="warnId" />
    <result column="warn_content" jdbcType="VARCHAR" property="warnContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="hex_location_buf" jdbcType="VARCHAR" property="hexLocationBuf" />
  </resultMap>
</mapper>