<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cictec.middleware.minieye.dao.TWarnMediaMapper">
  <resultMap id="BaseResultMap" type="com.cictec.middleware.minieye.entity.po.TWarnMedia">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="media_uuid" jdbcType="VARCHAR" property="mediaUuid" />
    <result column="media_type" jdbcType="INTEGER" property="mediaType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="download_url" jdbcType="VARCHAR" property="downloadUrl" />
    <result column="download_time" jdbcType="TIMESTAMP" property="downloadTime" />
    <result column="download_status" jdbcType="INTEGER" property="downloadStatus" />
    <result column="media_encoding" jdbcType="VARCHAR" property="mediaEncoding" />
    <result column="hex_media_id" jdbcType="VARCHAR" property="hexMediaId" />
    <result column="hex_localtion_buf" jdbcType="VARCHAR" property="hexLocaltionBuf" />
    <result column="save_type" jdbcType="VARCHAR" property="saveType" />
    <result column="save_path" jdbcType="VARCHAR" property="savePath" />
  </resultMap>
</mapper>